apiVersion: v1
kind: Service
metadata:
  name: todo-backend-svc
  namespace: todo-app
  labels:
    app.kubernetes.io/name: todo-backend
    app.kubernetes.io/component: backend
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: todo-backend
  ports:
  - name: http
    port: 8000
    targetPort: 8000