apiVersion: v1
kind: Service
metadata:
  name: todo-frontend-svc
  namespace: todo-app
  labels:
    app.kubernetes.io/name: todo-frontend
    app.kubernetes.io/component: frontend
spec:
  type: NodePort
  selector:
    app.kubernetes.io/name: todo-frontend
  ports:
  - name: http
    port: 80
    targetPort: 3000
    nodePort: 30080