apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "6"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"labels":{"app.kubernetes.io/component":"backend","app.kubernetes.io/name":"todo-backend","app.kubernetes.io/version":"1.0.0"},"name":"todo-backend","namespace":"todo-app"},"spec":{"replicas":2,"selector":{"matchLabels":{"app.kubernetes.io/name":"todo-backend"}},"template":{"metadata":{"labels":{"app.kubernetes.io/component":"backend","app.kubernetes.io/name":"todo-backend"}},"spec":{"containers":[{"env":[{"name":"HOST","value":"0.0.0.0"},{"name":"PORT","value":"8000"}],"envFrom":[{"configMapRef":{"name":"backend-config"}},{"secretRef":{"name":"backend-secrets"}}],"image":"todo-backend:1.0.0","livenessProbe":{"httpGet":{"path":"/health","port":8000},"initialDelaySeconds":30,"periodSeconds":10},"name":"backend","ports":[{"containerPort":8000,"name":"http"}],"readinessProbe":{"httpGet":{"path":"/ready","port":8000},"initialDelaySeconds":10,"periodSeconds":5},"resources":{"limits":{"cpu":"1000m","memory":"512Mi"},"requests":{"cpu":"250m","memory":"256Mi"}},"securityContext":{"allowPrivilegeEscalation":false,"capabilities":{"drop":["ALL"]},"runAsNonRoot":true,"runAsUser":1001}}]}}}}
  creationTimestamp: "2026-02-08T17:10:56Z"
  generation: 6
  labels:
    app.kubernetes.io/component: backend
    app.kubernetes.io/name: todo-backend
    app.kubernetes.io/version: 1.0.0
  name: todo-backend
  namespace: todo-app
  resourceVersion: "153533"
  uid: 25e34315-e4a8-4f2e-aac3-c41fa7cfca04
spec:
  progressDeadlineSeconds: 600
  replicas: 2
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app.kubernetes.io/name: todo-backend
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/restartedAt: "2026-02-08T22:36:17+05:00"
      labels:
        app.kubernetes.io/component: backend
        app.kubernetes.io/name: todo-backend
    spec:
      containers:
      - env:
        - name: HOST
          value: 0.0.0.0
        - name: PORT
          value: "8000"
        envFrom:
        - configMapRef:
            name: backend-config
        - secretRef:
            name: backend-secrets
        image: todo-backend:1.0.0
        imagePullPolicy: IfNotPresent
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /health
            port: 8000
            scheme: HTTP
          initialDelaySeconds: 30
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        name: backend
        ports:
        - containerPort: 8000
          name: http
          protocol: TCP
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /ready
            port: 8000
            scheme: HTTP
          initialDelaySeconds: 10
          periodSeconds: 5
          successThreshold: 1
          timeoutSeconds: 1
        resources:
          limits:
            cpu: "1"
            memory: 512Mi
          requests:
            cpu: 250m
            memory: 256Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          runAsNonRoot: true
          runAsUser: 1001
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
status:
  conditions:
  - lastTransitionTime: "2026-02-08T17:10:56Z"
    lastUpdateTime: "2026-02-08T17:10:56Z"
    message: Deployment does not have minimum availability.
    reason: MinimumReplicasUnavailable
    status: "False"
    type: Available
  - lastTransitionTime: "2026-02-08T17:46:17Z"
    lastUpdateTime: "2026-02-08T17:46:17Z"
    message: ReplicaSet "todo-backend-86df55dd68" has timed out progressing.
    reason: ProgressDeadlineExceeded
    status: "False"
    type: Progressing
  observedGeneration: 6
  replicas: 3
  terminatingReplicas: 0
  unavailableReplicas: 3
  updatedReplicas: 1
